version: '3.8'

services:
  # Spring Boot Application
  app:
    build:
      context: .
    container_name: maersk-booking-api
    ports:
      - "8080:8080"
    environment:
      # Database Configuration
      - SPRING_DATA_MONGODB_URI=mongodb://mongo:27017/maersk_bookings
      # Security Configuration
      - SPRING_SECURITY_OAUTH2_RESOURCESERVER_JWT_ISSUER_URI=http://keycloak:8080/realms/maersk
    depends_on:
      - mongo
      - keycloak

  # MongoDB Database
  mongo:
    image: mongo:latest
    container_name: maersk-mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db

  # Keycloak Identity & Access Management (IAM) Server
  keycloak:
    image: quay.io/keycloak/keycloak:latest
    container_name: maersk-keycloak
    ports:
      - "8181:8080"
    environment:
      - KEYCLOAK_ADMIN=admin
      - KEYCLOAK_ADMIN_PASSWORD=admin
    command: start-dev --import-realm
    volumes:
      - ./keycloak-config:/opt/keycloak/data/import

volumes:
  # Named volume for MongoDB data persistence
  mongo-data: