version: '3.8'

services:
  # Spring Boot Application
  app:
    build:
      context: .
    container_name: maersk-booking-api
    ports:
      - "8080:8080"
    environment:
      # Database Configuration
      - SPRING_DATA_MONGODB_URI=mongodb://mongo:27017/maersk_bookings
      # Security Profile Configuration
      # By setting this profile, we disable the SecurityConfig.java file
      - SPRING_PROFILES_ACTIVE=unsecured
    depends_on:
      - mongo
    networks:
      - app-network

  # MongoDB Database
  mongo:
    image: mongo:latest
    container_name: maersk-mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db
    networks:
      - app-network

# Named volumes
volumes:
  # Named volume for MongoDB data persistence
  mongo-data:
    driver: local

# Networks
networks:
  app-network:
    driver: bridge